<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles/carousel.css" />
  </head>
  <body>
    <section class="carousel">
      <div class="carousel__container">
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="https://images.pexels.com/photos/7165054/pexels-photo-7165054.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="people"
          />
          <div class="carousel-item__details">
            <div>
              <img
                src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/play-icon.png"
                alt="play"
              />
              <img
                src="https://raw.githubusercontent.com/teffcode/Platzi-Frontend-Dev/master/assets/plus-icon.png"
                alt="mas"
              />
            </div>
            <p class="carousel-item__details--title">Título descriptivo</p>
            <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
          </div>
        </div>
        <div class="carousel-item"><h1>hola</h1></div>
      </div>
    </section>
  </body>
</html>
